# Logs
logs
*.log
npm-debug.log*

node_modules
dist
dist-ssr
*.local

# Env files
.env
.env.local
.env.*.local
!.env.example

# Editor / OS
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
